@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.5;
  box-sizing: border-box;
  position: relative; }

body {
  font-family: 'Atkinson Hyperlegible', sans-serif; }

.burger_type {
  font-size: 2rem;
  color: #f5f5f5;
  text-shadow: rgba(8, 8, 8, 0.3) 1px 1px 5px; }

.header_main {
  font-size: 3rem; }

.header_sub {
  font-size: 1.5rem; }

.burger {
  cursor: pointer;
  overflow: visible;
  background-color: transparent;
  height: 3rem;
  width: 6rem;
  padding: 1rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; }

.line {
  width: 5rem;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: #f5f5f5;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgba(8, 8, 8, 0.3) 1px 1px 5px; }

.line1 {
  top: 0rem; }

.line2 {
  top: 1.25rem; }

.line3 {
  bottom: 0rem; }

#disappear .line {
  transition: all 100ms ease-in; }

#disappear .line2 {
  opacity: 1; }

#disappear.open .line1 {
  transform: translateX(-50%) rotate(45deg);
  top: 1.25rem; }

#disappear.open .line2 {
  opacity: 0;
  left: -0.5rem; }

#disappear.open .line3 {
  transform: translateX(-50%) rotate(-45deg);
  top: 1.25rem; }

#collapse .line {
  transition: top 125ms ease 50ms, transform 50ms ease,  opacity 50ms ease 50ms; }

#collapse.open .line {
  transition: top 125ms ease, transform 50ms ease 125ms,  opacity 50ms ease 75ms; }

#collapse.open .line1 {
  transform: translateX(-50%) rotate(45deg);
  top: 1.25rem; }

#collapse.open .line2 {
  opacity: 0; }

#collapse.open .line3 {
  transform: translateX(-50%) rotate(-45deg);
  top: 1.25rem; }

#spin {
  transition: transform 150ms ease 25ms; }
  #spin .line {
    transform: transform 75ms opacity 25s ease; }
  #spin.open {
    transform: translate(-50%, -50%) rotate(180deg); }
    #spin.open .line1 {
      transform: translateX(-50%) rotate(45deg);
      top: 1.25rem; }
    #spin.open .line2 {
      opacity: 0; }
    #spin.open .line3 {
      transform: translateX(-50%) rotate(-45deg);
      top: 1.25rem; }

#stand {
  transition: transform 150ms ease; }
  #stand .line {
    transform: transform ease 75ms 100ms opacity 25s ease 100ms; }
  #stand.open {
    transform: translate(-50%, -50%) rotate(90deg); }
    #stand.open .line1 {
      transform: translateX(-50%) rotate(45deg);
      top: 1.25rem; }
    #stand.open .line2 {
      opacity: 0; }
    #stand.open .line3 {
      transform: translateX(-50%) rotate(-45deg);
      top: 1.25rem; }

#minus .line {
  transition: top 75ms ease; }

#minus.open .line1 {
  top: 1.25rem; }

#minus.open .line3 {
  top: 1.25rem; }

#basic.open .line1 {
  transform: translateX(-50%) rotate(-45deg);
  top: 1.25rem; }

#basic.open .line2 {
  opacity: 0; }

#basic.open .line3 {
  transform: translateX(-50%) rotate(45deg);
  top: 1.25rem; }

.grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 80rem;
  width: 100%; }

.grid_item {
  height: 100%;
  width: 100%;
  position: relative; }
  .grid_item.item1 {
    background-color: #f94144; }
  .grid_item.item2 {
    background-color: #43aa8b; }
  .grid_item.item3 {
    background-color: #6411ad; }
  .grid_item.item4 {
    background-color: #70e000; }
  .grid_item.item5 {
    background-color: #f8961e; }
  .grid_item.item6 {
    background-color: #00509d; }

.burger_type {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, -50%); }

.header {
  position: relative;
  height: 20rem;
  text-align: center;
  padding-top: 5rem; }
  .header_sub {
    margin-top: 0.5rem; }
