.grid {
    list-style: none;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 80rem;
    width: 100%;
}

.grid_item {
    height: 100%;
    width: 100%;
    position: relative;

    &.item1 {
        background-color: #f94144;
    }

    &.item2 {
        background-color: #43aa8b;
    }

    &.item3 {
        background-color: #6411ad;
    }

    &.item4 {
        background-color: #70e000;
    }

    &.item5 {
        background-color: #f8961e;
    }

    &.item6 {
        background-color: #00509d;
    }
}

.burger_type {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-50%, -50%);
}